@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #881166;
}

.glassmorphism {
    background: rgba( 0, 0, 0, 0.35 );
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
}

.rec.rec-arrow:hover{
    background-color: #B31284 !important;
    border-radius: 50%;
    box-shadow: none !important;
}

.rec.rec-arrow:focus:enabled{
    background-color: transparent;
    box-shadow: none !important;
}

.rec.rec-arrow{
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
