@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: #881166; */
    background-image: linear-gradient(to top, #881166 50%, transparent 90%),
                        url('http://image.tmdb.org/t/p/w1280/AdyJH8kDm8xT8IKTlgpEC15ny4u.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.glassmorphism {
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
}

.rec.rec-arrow:hover{
    background-color: #B31284 !important;
    border-radius: 50%;
    box-shadow: none !important;
}

.rec.rec-arrow:focus:enabled{
    background-color: transparent;
    box-shadow: none !important;
}

.rec.rec-arrow{
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
